// bower:scss
// endbower

body {
  background: #fff;
  font-family: 'Oswald', sans-serif;
  color: #9e9ea5;
  margin: 0;
  text-align: center;
}

body , html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

header {
  background-color: #222;
  text-align: right;
  position: relative;
  z-index: 1500;
}

h1 {
  display: inline-block;
  background-color: #df531c;
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  float: left;
  margin: 0;
  padding: 0.5em 2.5em;
  vertical-align: middle;
}

h2 {
  margin: 0;
  display: inline-block;
  font-weight: lighter;
  font-size: 1.2em;
  padding: 0 1.5em;
  vertical-align: middle;
  line-height: 4.2em; 
}

h2 img {
  height: 50px;
  vertical-align: middle;
  position: relative;
  top: -3px;
}

h3 {
  margin: 0;
  display: inline-block;
  font-weight: lighter;
  font-size: 1.2em;
  padding: 0 3em;
}

h3:hover {
  color: #df531c;
}

.botones {
  background-size: 100% 100%;
  height: 30px;
  width: 30px;
}

.overlay {
  font-size: 5em;
  font-weight: bold;
}

.player-big {
  color: #fff;
  height: 100%;
  position: relative;
  text-align: center;
  width: 100%;

  .player_container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 20%;
    overflow: hidden;

    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      line-height: 20vh;
      vertical-align: middle;
      width: 100%;
      height: 100%;
      background: rgba(0, 255, 0, 0);
      z-index: 1000;
    }
  }
}

.texto {
    display: none;
    background-color: #9e9ea5;
    color: #000;
    font-weight: lighter;
    height: 100%;
    text-align: left;
    width: 19%;
    margin-left: 80%;
    padding: 20px;
    position: absolute;
    z-index: 1400;
    &.desplegado {
      display: block;
    }
}

#menu {
  background: #222;
  padding: 22px;
  position: relative;
}

#share {
  display: inline-block;
  margin-right: 6%;
  padding: 0;
  vertical-align: middle;
  float: right;
  background-image: url( ../images/share.svg );
  &:hover {
    background-image: url( ../images/share_over.svg );
  }
}

#random {
  display: inline-block;
  margin-right: 73%;
  padding: 0;
  vertical-align: middle;
  background-image: url( ../images/shuffle.svg );
  &:hover {
    background-image: url( ../images/shuffle_over.svg );
  }
}

#volumen {
  display: inline-block;
  margin-left: 3%;
  padding: 0;
  vertical-align: middle;
  float: left;
  background-image: url( ../images/vol_on.svg );
  &:hover {
    background-image: url( ../images/vol_on_over.svg );
  }
}

#volumen.off {
  background-image: url( ../images/vol_off.svg );
  &:hover {
    background-image: url( ../images/vol_off_over.svg );
  }
}


#play {
  background-size: 100% 100%;
  height: 100px;
  width: 100px;
  display: inline-block;
  padding: 0;
  vertical-align: middle;
  position: relative;
  bottom: -50px;
  z-index: 1650;
  background-image: url( ../images/play.svg );
  &:hover {
    background-image: url( ../images/play_over.svg );
  }
}

#play.paused {
  background-image: url( ../images/pause.svg );
  &:hover {
    background-image: url( ../images/pause_over.svg );
  }
}

#controls {
  background: #222;
  bottom: 0;
  color: white;
  left: 0;
  padding: 8px 10px;
  position: absolute;
  text-align: center;
  z-index: 2000;

  a {
    color: white;
  }
}

#player_container_1 {
  top: 0;
  iframe {
    top: 0;
  }
}
#player_container_2 {
  top: 20%;
  iframe {
    top: -20vh;
  }
}
#player_container_3 {
  top: 40%;
  iframe {
    top: -40vh;
  }
}
#player_container_4 {
  top: 60%;
  iframe {
    top: -60vh;
  }
}
#player_container_5 {
  top: 80%;
  iframe {
    top: -80vh;
  }
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
